body {
    background-color: #0c1a26; /* Bleu nuit glacial */
    color: #d1d5db; /* Gris clair pour une bonne lisibilité */
    font-family: 'Morpheus', 'Arial', sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
    color: #99ccff; /* Bleu clair éclatant */
}

a {
    color: #4da6ff; /* Bleu vif pour les liens */
}

div {
    margin-bottom: 20px;
}

input[type="text"] {
    width: 300px;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #c79c6e; /* Doré WoW */
    border-radius: 5px;
    background-color: #1c3b57;
    color: #d1d5db;
    font-family: 'Morpheus', 'Arial', sans-serif;
}

button {
    background-color: #2e2a25;
    color: #ffd700; /* Doré WoW */
    font-family: 'Morpheus', 'Arial', sans-serif;
    border: 1px solid #c79c6e; /* Doré */
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #3b3a36;
}

/* Styles pour le conteneur de realmlists */
#realmlist-container {
    margin-top: 20px;
}

.realm-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1c3b57;
    border-radius: 5px;
    border: 1px solid #c79c6e;
}

.realm-item input[type="text"] {
    flex: 1;
    margin-right: 10px;
}

.realm-item button {
    margin-left: 5px;
    min-width: 60px;
}

.modify-button {
    background-color: #2e2a25;
}

.realm-item button:last-child {
    width: 60px;
}

/* Style pour les boutons On/Off */
.realm-item button[style*="background-color: green"] {
    background-color: #2d5a27 !important;
    color: #7fff00;
}

.realm-item button[style*="background-color: red"] {
    background-color: #5a2727 !important;
    color: #ff6b6b;
}
